@model BookStore.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <div class="col-md-3">
            <dt class="col-sm-2">

                <img src="~/Images/@Model.ImageName" width="200" ; height="300" />
            </dt>
        </div>
        <div class="col-md-5">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cover)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Isbn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Isbn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Seller)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Seller)
            </dd>

        </div>
        <div class="col-md-4">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RatingAve)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RatingAve)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
        </div>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.BookID">Edit</a> |
        <a asp-action="Index">Back to List</a><br /><br /><br />
    </div>
</div>

