@model IEnumerable<BookStore.ViewModels.BookViewModel>
@{
    //viewBag is a dynamic way to see items from my controller, and it's been casted first
    var topSellers = ViewBag.TopSellers as IEnumerable<BookStore.ViewModels.BookViewModel>;
}

<style>
    #booksTable th, #booksTable td {
        vertical-align: middle !important
    }
</style>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="accordion" id="topRated">
                    <div class="card">

                        <h5 class="mb-0">
                            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                View Top Sellers
                            </button>
                        </h5>
                        <br />

                        <div id="collapseOne" class="collapse show"  data-parent="#topRated">
                            <div class="card-body">
                                <ul style="list-style:none;display:inline-flex">
                                    @foreach (var item in topSellers)
                                    {
                                        @*this is a loop for showing my list of topSellers, after I casted the list above*@
                                        <li class="row" style="align-content:center !important; width:20%; vertical-align:middle !important">
                                            <img class="col-md-4" src="~/Images/@item.ImageName" width="40" height="55" style="vertical-align:middle" />
                                            <a class="col-md-8" asp-action="Details" asp-route-id="@item.BookID">@item.Title</a>
                                        </li>


                                    }
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">

    <div class="card-body" style="width:100% !important">
        <div class="dataTables_wrapper">


            <table class="table table-striped" id="booksTable" style="align-content:center;text-align:center;width:100% !important">
                <thead class="">
                    <tr>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Cover)
                        </th>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Genre)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.Isbn)
                        </th>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Seller)
                        </th>
                        <th class="">
                            Price
                        </th>
                        <th class="">
                            Rating
                        </th>
                        <th class="">
                            Published Date
                        </th>
                        <th hidden class="">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Images/@item.ImageName" width="120" height="170" />

                            </td>
                            <td class=" col-md-1">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.Isbn)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Seller)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.RatingAve)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.CreationDateString)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookID)

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="">
                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th class="">
                            filter by Genre

                        </th>
                        <th hidden>

                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th hidden class="">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th class=""></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>







@section Scripts {
    <script src="~/js/Books/index.js"></script>
    @*<script src="~/js/site.js"></script>*@
}


