@model IEnumerable<BookStore.ViewModels.BookViewModel>
@{
    //viewBag is a dynamic way to see items from my controller, and it's been casted first
    var topSellers = ViewBag.TopSellers as IEnumerable<BookStore.ViewModels.BookViewModel>;
}
<link rel="stylesheet" href="css/style.css">


<style>
    #booksTable th, #booksTable td {
        vertical-align: middle !important
    }
</style>


@{
    ViewData["Title"] = "Index";
}
<br />
<h5 style="width:100%">
    Browse Top Sellers
</h5>
<br />

<div class="row" style="border:none">

    <div class="card" style="border:none">

        <div class="row" style="width:100%; border:none !important">

            <div class="swiper-container " style="width:100%;border:none !important">

                <span class="swiper-wrapper" style="border:none">

                    @foreach (var item in topSellers)
                    {
                        @*this is a loop for showing my list of topSellers, after I casted the list above*@

                        <span class="swiper-slide" style=border: none !important">

                            <span class="content border-bottom border-top box-shadow "  style="list-style:none; display:inline-flex" >
                             
                                    <img src="~/Images/@item.ImageName" width="80" ; height="120" />
                                    <a id="topSellerItem" asp-action="Details" asp-route-id="@item.BookID" style="width:auto;padding-left:20px !important">@item.ShortTitle...</a>

                            </span>
                        </span>
                    }

                </span>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

</div>

<br />
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="row">

    <div class="card-body" style="width:100% !important">
        <div class="dataTables_wrapper">

            <table class="table table-striped" id="booksTable" style="align-content:center;text-align:center;width:100% !important">
                <thead class="">
                    <tr>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Cover)
                        </th>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th class="">
                            @Html.DisplayNameFor(model => model.Genre)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.Isbn)
                        </th>
                        <th class="" hidden>
                            @Html.DisplayNameFor(model => model.Seller)
                        </th>
                        <th class="">
                            Price
                        </th>
                        <th class="">
                            Rating
                        </th>
                        <th class="">
                            Published Date
                        </th>
                        <th hidden class="">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/Images/@item.ImageName" width="120" height="170" />

                            </td>
                            <td class=" col-md-1"  >
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.Isbn)
                            </td>
                            <td class="" hidden>
                                @Html.DisplayFor(modelItem => item.Seller)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.RatingAve)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookID)

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="">
                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th hidden>

                        </th>
                        <th class="" hidden>

                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th class="">

                        </th>
                        <th hidden class="">
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th class=""></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<br />

@section Scripts {
    <script src="~/js/Books/index.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5,
            spaceBetween: 10,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        $('.carousel').carousel({
            interval: 2500
        })

    </script>

    @*<script src="~/js/site.js"></script>*@
}


